*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color:#ffffff;
    font-family:Avenir , "Open Sans" , "游ゴシック","Helvetica Neue" , Helvetica , Arial , Verdana , Roboto  , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    margin: 0;
    width: : 100vw;
}

h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing:2px;
    margin-top: 0px;
}


.header{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 90vh;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center; 
    background-color: white;
    
}

#wrapper{
    position: absolute;
    width: 100vw;
    height: 90vh;
    overflow-y: scroll;
}


.firstview{
    float: left;
    width: 100%;
    height:90vh;
    background-image:url(img/firstview-bg.png);
    background-color: #F5EA57;
    background-position: center;
    background-size: contain;
    background-repeat: repeat-y;
    display: block;

}

.firstview-title{
    width: 800px;
    height: 270px;
    text-align: left;
    margin: 0 auto;
    margin-top: 200px;
}

.firstview h1{
    font-size: 55px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing:5px;
}

.h1-sub{
    font-weight: 600;
    font-size: 40px;
    letter-spacing:7px;
    line-height: 48px;
    float: left;
    clear: left;
}

.h1-date{
    font-weight: 700;
    font-size: 18px;
    letter-spacing:7px;
    float: left;
    clear: left;
    margin-top: 7px;
    margin-left: 2px;
}

.h1-eng{
    font-weight: 700;
    font-size: 12px;
    letter-spacing:3px;
    float: left;
    clear: left;
    margin-left: 5px;
}

.firstview img{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    margin-bottom: -5px;
}
        
.header_content{
    width: 133px;
    text-align: center;
}
        
.header a{
    margin: 0 auto;
    text-decoration: none;
    color: black;
    font-size: 20px;    
}


.greeting{
    float: left;
    background:#ffffff;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: grey;
    text-align: center;
}

#greeting-message h1{
    font-size: 15pt;
    letter-spacing: 1px;
    margin: 10px;
}

#greeting-message{
    margin: 17.5%;
    max-width: 800px;
    min-width: 300px;
    width: 65vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

#snsIcons{
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    
}

.concept{
    float: left;
    width: 100%;
    height:90vh;
    background-color: #F5EA57;
    text-align: center;
    display: block;
}

.concept img{
    width: 100%;
}

.concept hr{
    width: 170px;
    margin: 0 auto;
    border: 1px solid black;
}
#concept-center{
    float: left;
    width: 100%;
    height:  60vh;
    display: flex;
    align-items: center;
}
.concept-concept{
    margin: 0 auto;
    max-width: 800px;
    width: auto;
    text-align: left;
    display: block;
}

.concept-concept hr{
    width: 400px;
    margin: 0;
    border: 2px solid black;
    margin-top: -10px;
}

.concept-piece{
    font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing:5px;
}

.concept-piece-ja{
    font-size: 30px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing:5px;
}

.concept-concept p{
    font-weight:100;
    font-size: 16px;
    margin-top: 10px;
    line-height: 29px;
    letter-spacing:1px;
}

.information{
    float: left;
    width: 100%;
    height:auto;
    min-height: 90vw;
    min-height: 90vh;
    background-color: #F5EA57;
    overflow: hidden;
    text-align: center;
}

.information h1{
    margin-top: 80px;
}

.information hr{
    width: 260px;
    margin: 0 auto;
    border: 1px solid black;
}
    
#informationbox{
    width: 80vw;
    height: auto;
    min-height: 49vh;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
    background-color: white;
    display: flex; 
    justify-content: space-around;
    flex-wrap:wrap;
}
    
#information-informations{
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

#maplink-btn{
    width: 300px;
    height: 40px;
    background-image: url(img/go-to-map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;
    margin-bottom: 20px;
    
}


#informationbox-left{
    min-width: 300px;
    max-width: 45%;
    height: auto;
    margin-top: 30px;
    padding-left: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#informationbox-left hr{
    float: left;
    margin-left: 0px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}


#informationbox-right{
    font-size: 14px;
    min-width: 300px;
    max-width: 45%;
    height: auto;
    margin-top: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

#informationbox-right dd{
    padding-left:1em;
    font-size: 14px;
}
#informationbox-right dt{
    margin-top: 7px;
    font-size: 17px;
}


.info-div-1{
    float: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 32px;
    clear: left;
}

.info-div-2{
    font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    float: left;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 17px;
    clear: left;
}

.information img{
    width: 100%;
    height: auto;
    margin-bottom: -10px;
}